* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

.navbar-1 {
    height: 12vh;
    width: 100%;
    padding: 1vh 2vh;
    background-color: #131921;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 8px; */
}

.border:hover {
    border: 1px solid #fff;
}

.navbar-1>.logo {
    height: 100%;
    /* width: ; */
    padding: 0px 0px;

    & img {
        height: 11vh;
        width: auto;
    }
}

.navbar-1>.address {
    height: 100%;
    /* width: ; */
    padding: 0px 2px;
    display: flex;
    align-items: center;
    gap: 0.3vw;
    font-size: 20px;

    & .address-icon {
        color: #CCCCCC;
        height: 100%;

        & i {
            margin-top: 4vh;
        }
    }

    & .address-content>p:nth-child(1) {
        color: #CCCCCC;
        font-size: 0.7em;
        font-weight: 100;
    }

    & .address-content>p:nth-child(2) {
        color: #fff;
        font-size: 0.8em;
        font-weight: 500;
    }
}

.navbar-1>.searchbar {
    height: 80%;
    width: 40%;
    padding: 0px 0px;
    display: flex;
    align-items: center;

    & select,
    input,
    button {
        height: 100%;
    }

    & select {
        color: #555555;
        padding: 8px;
        background-color: #E6E6E6;
        border: none;
        outline: none;
        width: 10%;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }

    & input {
        padding: 14px;
        border: none;
        outline: none;
        width: 80%;
    }

    & button {
        background-color: #FEBD68;
        border: none;
        outline: none;
        width: 10%;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;

        & i {
            color: #000;
            font-size: 1.3rem;
        }
    }
}

.navbar-1>.language {
    height: 100%;
    /* width: ; */
    padding: 0px 0px;
    display: flex;
    align-items: center;

    /* & i {} */

    & select {
        background-color: transparent;
        border: none;
        outline: none;
        font-weight: 400;
    }
}

.navbar-1>.account {
    height: 100%;
    /* width: ; */
    padding: 0px 0px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & p {
        font-weight: 300;
        font-size: 0.7em;
        margin-left: 2px;
    }

    & select {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 0.8em;
        font-weight: 700;
    }
}

.navbar-1>.orders {
    height: 100%;
    /* width: ; */
    padding: 0px 0px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & p:nth-child(1) {
        font-weight: 300;
        font-size: 0.7em;
    }

    & p:nth-child(2) {
        font-size: 0.8em;
        font-weight: 700;
    }

}

.navbar-1 > .cart{
    & i {
        font-size: 2rem;
    }

    font-size: 3vh;
    font-weight: 700;
}

.navbar-2{
    height: 8vh;
    width: 100%;
    padding: 1vh 2vh;
    background-color: #222F3E;
    display: flex;
    align-items: center;

    & ul, li{
        list-style-type: none;
        display: inline-block;
        margin: 0px 4px;
        font-size: 0.8rem;
        font-weight: 500;
    }
}

.hero-section > .hero-img {
    width: 100%;
    /* height: ; */

    & img{
        height: 100%;
        width: 100%;
    }
}

.hero-section > .hero-content{
    height: 6vh;
    width: 90%;
    margin: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -100px;

    & p{
        color: #000;
        text-align: center;
    }
}

.product-boxes{
    /* height: ; */
    width: 100%;
    padding: 20px 20px;
    background-color: #E3E6E6;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    
}

.product-boxes > .product-box {
    height: 70vh;
    width: 23vw;
    padding: 3vh;
    background-color: #FFFFFF;

    & h1{
        height: 15%;
        width: 100%;
        color: #000;
        font-size: 1.3rem;
        /* border: 1px solid black; */
    }

    & .imgs{
        height: 75%;
        width: 100%;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        & .img-section-1 {
            display: flex;
            gap: 20px;

            & img{
                height: 20vh;
                width: 20vh;
                /* border: 1px solid black; */
                object-fit: fill;
            }
        }

        & .img-section-2 {
            display: flex;
            gap: 20px;
            
            & img{
                height: 20vh;
                width: 20vh;
                /* border: 1px solid black; */
                object-fit: fill;
            }
        }
    }

    & p{
        height: 10%;
        width: 100%;
        color: blue;
        font-size: 1rem;
        /* border: 1px solid black; */
    }

}

.product-boxes > .product-box-2{
    height: 50vh;
    width: 100%;
    padding: 3vh;
    background-color: #FFFFFF;
    /* border: 1px solid black; */

    & .heading{
        height: 10%;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        /* border: 1px solid black; */
        
        & h1{
            color: #000;
        }

        & p{
            color: blue;
        }
    }

    & .imgs{
        height: 90%;
        width: 100%;
        padding: 3vh 0px;
        display: flex;
        justify-content: space-between;
        /* border: 1px solid black; */

        & img{
            height: 100%;
            width: 22vw;
            object-fit: cover;
        }
    }
}

.footer > .back-to-top{
    height: 8vh;
    width: 100%;
    background-color: #37485A;
    display: flex;
    align-items: center;
    justify-content: center;

    & p{
        color: #fff;
        font-size: small;
        text-align: center;
    }
}

.footer > .footer-lists{
    /* height: ; */
    width: 100%;
    padding: 10vh 20vh;
    background-color: #222F3E;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

    & ul{
        list-style-type: none;
        /* height: ; */
        width: 15vw;
    }

    & li{
        margin: 8px 0px;
        color: #DDDDDD;
        font-size: 0.8rem;
    }

    & .list-heading{
        color: #fff;
        font-weight: 700;
        font-size: 1rem;
    }
}

.footer > .footer-language{
    /* height: ; */
    width: 100%;
    padding: 30px;
    background-color: #222F3E;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    & img{
        height: 11vh;
    }

    & select{
        /* height: ; */
        width: 8vw;
        background-color: transparent;
        color: #DDDDDD;
        border: 2px solid #585F69;
        outline: none;
        padding: 10px;
    }

    & button{
        /* height: ; */
        width: 6vw;
        background-color: transparent;
        color: #DDDDDD;
        border: 2px solid #585F69;
        outline: none;
        padding: 10px;
    }
}

.footer > .footer-links{
    height: 40vh;
    width: 100%;
    padding: 10vh 20vh;
    background-color: #121A22;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    & .links-block {
        height: 10vh;
        width: 14vh;

        & p:nth-child(1){
            color: #DDDDDD;
            font-size: 0.8rem;
        }

        & p:nth-child(2){
            color: #999999;
            font-size: 0.8rem;
        }
    }
}

.footer > .credits{
    /* height: ; */
    width: 100%;
    padding: 8vh 0x;
    background-color: #121A22;

    & p{
        font-size: 0.7rem;
        color: #DDDDDD;
        text-align: center;
    }
}